body {
    background-color: #F7FBFC;
}

hr{
    border-style: dotted none none;
    border-color: #D6E6F2;
    border-width: 5px;
    width: 4%;
}

h1{
    color: #769FCD;
}

h2{
    color: #769FCD;
}

h3{
    color: #769FCD;  
}

.Contact{
    color: #6C7A89;
}
